<label>Add new item</label>
<br>
<input type="text" (keyup)="setTodoItemName($event.target.value)" >
<button type="button" (click)="addTodoItem()" >Add</button>

<div class="todo-item-list" >
  <div *ngFor="let item of todoList" class="todo-item" >
    <input type="checkbox" [checked]="item.isDone" >
    <label>{{item.message}}</label>
  </div>
</div>
